
.teacher-view {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.poll-header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: var(--color-background-light-gray);
    border-radius: var(--border-radius-medium);
}
.poll-header-info h2 {
    margin: 0;
    font-size: 1.5rem;
}
.end-poll-btn, .ask-new-btn {
    display: block;
    margin: 20px auto 0 auto; 
}